body {
    background-color: #f0ead6; /* eggshell color */
    margin: 0;
    padding: 20px 40px;
}

p {
    line-height: 1.6;
    font-size: 16px;
    color: #2f3640;
    max-width: 900px;
}
